.container{
  display: flex;
  justify-content: center;
  background-color: yellow;
  background-image: url("../public/photo.png");
  width: 800px;
  height: 1120px;
  margin-left: 25%;
  position: relative;
}
